.pokemon-desc-top {
    background: linear-gradient(180deg, #C0D4C8 0%, #CFB7ED 100%);
    width: 159px;
    height: 227.63px;
    margin: 4px;
    border: 1px dashed #2E3156;
    border-radius: 8px;
}

.pokemon-header-desc {
    display: flex;
    flex-direction: column;
}

.desc-item-image {
    height: 75%;
    width: 80%;

}

.item-details {
    position: absolute;
    width: 182px;
    height: 35px;
    left: 661px;
    top: 41px;
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: #2E3156;
}

.poke-des {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2E3156;
}

.read-more-modal {
    background-color: #2E3156;
    color: white;
    font-size: 14px;
    z-index: 1;
    border-radius: 8px;
}

.close-icon {
    color: white;
}

.property-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    padding: 10px;
    flex-wrap: wrap;
}

.title {
    margin: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    margin: 10px;
    color: #2E3156;
}

.value-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #2E3156;
}

.value-label-bg {
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #2E3156;
}

@media (max-width: 640px) {
    .title {
        width: 40%;
    }
}